
<div class="row justify-content-center" >
    <button type="button" class="btn btn-primary" (click)="clickMe()"(click)="toggleDisabled()" (click)="viewGraf()" >Visualizar</button>
</div>
<!-- Grafico Charts.js -->
<div class="container" style="display: block" id="grafico" *ngIf="!isHidden">
    <div class="row">
        <div class="col">
            <canvas  
                baseChart
                [chartType]="'bar'"
                [datasets]="chartData"
                [labels]= "nome_cidades"
                [options]="chartOptions"
                [legend]="false">
                
            </canvas>
        </div>
    </div>
</div>

<!-- Tabela -->
<app-tabela></app-tabela>


<script src="node_modules/chart.js/src/chart.js"></script>