
<!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
node_modules\bootstrap\dist\css\bootstrap.min.css -->
<!-- Menu superior -->
<app-bar-top></app-bar-top>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 col-lg-2 me-0 px-3" >

    <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse col-md-3 col-lg-2 me-0 px-3">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                <i class="bi bi-house-door"></i>
                Dashboard
              </a>
            </li>
          </ul>

          <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
              </a>
            </li>
          </ul> -->
        </div>
      </nav>
    </div>


    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="content" >
    
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Visualização 1 <i class="bi bi-bar-chart-fill"  style="color: green;"></i></a>
          <ng-template ngbNavContent><app-graficos></app-graficos></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Visualização 2 <i class="bi bi-clipboard-data" style="color: red;"></i> </a>
          <ng-template ngbNavContent><app-graficos2></app-graficos2></ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>Visualização 2 <i class="bi bi-clipboard-data"></i> </a>
          <ng-template ngbNavContent><app-graficos2></app-graficos2></ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
